RewriteEngine On

# 1. No tocar si ya estamos en /public
RewriteRule ^public/ - [L]

# 2. Redirigir todo a public/index.php
# Usamos [L,QSA] para que los parámetros GET se mantengan
RewriteRule ^(.*)$ public/index.php [L,QSA]