Options -Indexes
RewriteEngine On
RewriteBase /ux-tools/public/

# Si es un archivo o carpeta real, servirlos y detenerse
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Si no existe, todo al index.php
RewriteRule ^(.*)$ index.php [L,QSA]