Options -Indexes
RewriteEngine On

# Si el archivo o carpeta existen físicamente, servirlos directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no existen, mandar todo al index.php
RewriteRule ^ index.php [L,QSA]